* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #263238;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    text-align: center;
}

#canvasScreen {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #FFF;
    cursor: crosshair;
}

.top-content {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.btn-content {
    display: flex;
    justify-content: flex-end;
}

.btn-content .clear {
    width: 120px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #000;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}

.btn-content .clear:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.colorArea {
    width: 800px;
    display: flex;
}

.color {
    flex: 1;
    height: 40px;
    cursor: pointer;
}

.color.active {
    border: 3px solid #FFF;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}